In [1]:
import pandas as pd
from sklearn import datasets
import numpy as np
import json

News group

In [8]:
newsgroup = datasets.fetch_20newsgroups_vectorized(data_home="real/cache")

California housing

In [3]:
california_housing = datasets.fetch_california_housing(data_home="real/cache")

In [39]:
def pd_dataframe_from_dataset(dataset) -> pd.DataFrame:
    return pd.DataFrame(
        data=np.c_[dataset.data, dataset.target],
        columns=dataset.feature_names + dataset.target_names
    )

In [40]:
pd_california_housing = pd_dataframe_from_dataset(california_housing)

In [41]:
pd_california_housing.to_csv("cache/california_housing.csv")
with open("real/california_housing.json", "w") as f:
    json.dump({
        "path": "california_housing.csv",
        "target": california_housing.target_names[0],
        "categorical": [],
        "ignore": [],
        "numerical": california_housing.feature_names,
        "ordinal": {},
        "classification": False
    }, f)

Cover type

In [18]:
covtype = datasets.fetch_covtype()

In [30]:
pd_covtype = pd.DataFrame(
    data=np.c_[covtype.data, covtype.target],
    columns=list(map(str, list(range(covtype.data.shape[1])))) + ["target"]
)

In [ ]:
pd_covtype = pd_covtype.astype(int)
pd_covtype

In [42]:
pd_covtype.to_csv("cache/pd_covtype.csv")
with open("real/pd_covtype.json", "w") as f:
    json.dump({
        "path": "pd_covtype.csv",
        "target": "target",
        "categorical": [],
        "ignore": [],
        "numerical": list(map(str, list(range(covtype.data.shape[1])))),
        "ordinal": {},
        "classification": False
    }, f)

KDDCUP

In [43]:
kddcup = datasets.fetch_kddcup99()

In [44]:
kddcup

{'data': array([[0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
        [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
        [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
        ...,
        [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
        [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
        [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0]], dtype=object),
 'target': array([b'normal.', b'normal.', b'normal.', ..., b'normal.', b'normal.',
        b'normal.'], dtype=object),
 'DESCR': ".. _kddcup99_dataset:\n\nKddcup 99 dataset\n-----------------\n\nThe KDD Cup '99 dataset was created by processing the tcpdump portions\nof the 1998 DARPA Intrusion Detection System (IDS) Evaluation dataset,\ncreated by MIT Lincoln Lab [1]. The artificial data (described on the `dataset's\nhomepage <https://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html>`_) was\ngenerated using a closed network and hand-injected attacks to produce a\nlarge number of different types of attack with normal activity in the\nbackground. As the initial goal was to produce a large training set for\nsupervised learning algorithms, there is a large proportion (80.1%) of\nabnormal data which is unrealistic in real world, and inappropriate for\nunsupervised anomaly detection which aims at detecting 'abnormal' data, ie\n\n1) qualitatively different from normal data\n\n2) in large minority among the observations.\n\nWe thus transform the KDD Data set into two different data sets: SA and SF.\n\n-SA is obtained by simply selecting all the normal data, and a small\nproportion of abnormal data to gives an anomaly proportion of 1%.\n\n-SF is obtained as in [2]\nby simply picking up the data whose attribute logged_in is positive, thus\nfocusing on the intrusion attack, which gives a proportion of 0.3% of\nattack.\n\n-http and smtp are two subsets of SF corresponding with third feature\nequal to 'http' (resp. to 'smtp')\n\nGeneral KDD structure :\n\n    ================      ==========================================\n    Samples total         4898431\n    Dimensionality        41\n    Features              discrete (int) or continuous (float)\n    Targets               str, 'normal.' or name of the anomaly type\n    ================      ==========================================\n\n    SA structure :\n\n    ================      ==========================================\n    Samples total         976158\n    Dimensionality        41\n    Features              discrete (int) or continuous (float)\n    Targets               str, 'normal.' or name of the anomaly type\n    ================      ==========================================\n\n    SF structure :\n\n    ================      ==========================================\n    Samples total         699691\n    Dimensionality        4\n    Features              discrete (int) or continuous (float)\n    Targets               str, 'normal.' or name of the anomaly type\n    ================      ==========================================\n\n    http structure :\n\n    ================      ==========================================\n    Samples total         619052\n    Dimensionality        3\n    Features              discrete (int) or continuous (float)\n    Targets               str, 'normal.' or name of the anomaly type\n    ================      ==========================================\n\n    smtp structure :\n\n    ================      ==========================================\n    Samples total         95373\n    Dimensionality        3\n    Features              discrete (int) or continuous (float)\n    Targets               str, 'normal.' or name of the anomaly type\n    ================      ==========================================\n\n:func:`sklearn.datasets.fetch_kddcup99` will load the kddcup99 dataset; it\nreturns a dictionary-like object with the feature matrix in the ``data`` member\nand the target values in ``target``. The dataset will be downloaded from the\nweb if necessary.\n\n.. topic: References\n\n    .. [1] Analysis and Results of the 1999 DARPA Off-Line Intrusion\n           Detection Evaluation Richard Lippmann, Joshua W. Haines,\n           David J. Fried, Jonathan Korba, Kumar Das\n\n    .. [2] K. Yamanishi, J.-I. Takeuchi, G. Williams, and P. Milne. Online\n           unsupervised outlier detection using finite mixtures with\n           discounting learning algorithms. In Proceedings of the sixth\n           ACM SIGKDD international conference on Knowledge discovery\n           and data mining, pages 320-324. ACM Press, 2000.\n\n"}

In [48]:
kddcup.data.shape

(494021, 41)

In [49]:
pd_kddcup = pd.DataFrame(
    data=np.c_[kddcup.data, kddcup.target],
    columns=list(map(str, list(range(kddcup.data.shape[1])))) + ["target"]
)

In [52]:
pd_kddcup

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,target
0,0,b'tcp',b'http',b'SF',181,5450,0,0,0,0,...,9,1,0,0.11,0,0,0,0,0,b'normal.'
1,0,b'tcp',b'http',b'SF',239,486,0,0,0,0,...,19,1,0,0.05,0,0,0,0,0,b'normal.'
2,0,b'tcp',b'http',b'SF',235,1337,0,0,0,0,...,29,1,0,0.03,0,0,0,0,0,b'normal.'
3,0,b'tcp',b'http',b'SF',219,1337,0,0,0,0,...,39,1,0,0.03,0,0,0,0,0,b'normal.'
4,0,b'tcp',b'http',b'SF',217,2032,0,0,0,0,...,49,1,0,0.02,0,0,0,0,0,b'normal.'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,b'tcp',b'http',b'SF',310,1881,0,0,0,0,...,255,1,0,0.01,0.05,0,0.01,0,0,b'normal.'
494017,0,b'tcp',b'http',b'SF',282,2286,0,0,0,0,...,255,1,0,0.17,0.05,0,0.01,0,0,b'normal.'
494018,0,b'tcp',b'http',b'SF',203,1200,0,0,0,0,...,255,1,0,0.06,0.05,0.06,0.01,0,0,b'normal.'
494019,0,b'tcp',b'http',b'SF',291,1200,0,0,0,0,...,255,1,0,0.04,0.05,0.04,0.01,0,0,b'normal.'
494020,0,b'tcp',b'http',b'SF',219,1234,0,0,0,0,...,255,1,0,0.17,0.05,0,0.01,0,0,b'normal.'

In [54]:
pd_kddcup.to_csv("cache/kddcup.csv")
with open("real/kddcup.json", "w") as f:
    numerical = list(map(str, list(range(4, kddcup.data.shape[1]))))
    categorical = list(map(str, list(range(4))))

    json.dump({
        "path": "kddcup.csv",
        "target": "target",
        "categorical": categorical,
        "ignore": [],
        "numerical": numerical,
        "ordinal": {},
        "classification": True
    }, f)

Labeled faces in the wild

In [2]:
lfw_pairs = datasets.fetch_lfw_pairs()

In [3]:
lfw_pairs.data.shape

(2200, 5828)

In [4]:
pd_lfw_pairs = pd.DataFrame(
    data=np.c_[lfw_pairs.data, lfw_pairs.target],
    columns=list(map(str, list(range(lfw_pairs.data.shape[1])))) + ["target"]
)

In [5]:
pd_lfw_pairs.target = pd_lfw_pairs.target.astype(int)
pd_lfw_pairs

,0,1,2,3,4,5,6,7,8,9,...,5819,5820,5821,5822,5823,5824,5825,5826,5827,target
0,73.666664,71.000000,82.000000,96.333336,107.666664,114.333336,112.333336,111.000000,110.000000,107.666664,...,111.666664,129.000000,189.333328,207.666672,211.333328,218.666672,224.666672,228.666672,231.666672,1
1,85.000000,112.000000,132.666672,152.666672,169.000000,175.000000,175.333328,178.666672,185.000000,196.333328,...,50.000000,60.666668,84.666664,101.000000,102.333336,102.666664,106.000000,114.333336,122.000000,1
2,37.000000,35.333332,34.000000,29.000000,22.666666,28.000000,36.333332,39.666668,41.666668,42.000000,...,73.000000,76.000000,83.333336,89.666664,80.000000,55.666668,51.333332,52.333332,52.000000,1
3,11.333333,14.333333,22.333334,42.333332,64.333336,77.000000,81.000000,86.333336,93.333336,98.666664,...,4.666667,15.000000,36.000000,43.000000,30.666666,37.333332,58.666668,89.000000,128.000000,1
4,49.666668,49.333332,44.666668,39.666668,53.666668,84.000000,117.666664,149.333328,170.333328,180.000000,...,102.333336,152.333328,189.000000,201.666672,189.333328,173.333328,158.333328,137.333328,120.666664,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,63.333332,66.000000,63.333332,65.666664,67.666664,66.333336,64.000000,58.666668,57.333332,54.333332,...,105.000000,123.000000,128.333328,115.666664,100.666664,96.666664,91.333336,85.333336,86.000000,0
2196,86.666664,95.666664,84.333336,71.000000,76.333336,84.333336,92.666664,103.666664,116.666664,129.666672,...,3.666667,4.666667,4.666667,6.333333,6.000000,5.666667,6.333333,7.000000,8.000000,0
2197,73.000000,94.333336,121.333336,127.333336,125.666664,128.666672,132.666672,131.666672,131.666672,138.333328,...,71.666664,79.000000,85.333336,79.333336,73.333336,68.000000,64.000000,71.000000,82.000000,0
2198,119.000000,110.666664,113.000000,121.000000,111.333336,100.666664,100.333336,95.000000,92.000000,90.000000,...,123.000000,125.666664,127.000000,123.666664,125.666664,137.000000,145.333328,130.000000,102.666664,0
2199,23.333334,20.333334,23.666666,30.333334,37.000000,41.333332,47.666668,58.333332,73.333336,90.333336,...,125.333336,129.333328,138.333328,148.666672,150.000000,151.000000,146.666672,151.333328,159.000000,0

In [6]:
pd_lfw_pairs.to_csv("cache/pd_lfw_pairs.csv")
with open("real/pd_lfw_pairs.json", "w") as f:
    json.dump({
        "path": "pd_lfw_pairs.csv",
        "target": "target",
        "categorical": [],
        "ignore": [],
        "numerical": list(map(str, list(range(lfw_pairs.data.shape[1])))),
        "ordinal": {},
        "classification": True
    }, f)

olivetti faces

In [7]:
olivetti_faces = datasets.fetch_olivetti_faces()

In [8]:
olivetti_faces.data.shape

(400, 4096)

In [9]:
pd_olivetti_faces = pd.DataFrame(
    data=np.c_[olivetti_faces.data, olivetti_faces.target],
    columns=list(map(str, list(range(olivetti_faces.data.shape[1])))) + ["target"]
)

In [10]:
pd_olivetti_faces.target = pd_olivetti_faces.target.astype(int)
pd_olivetti_faces

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,target
0,0.309917,0.367769,0.417355,0.442149,0.528926,0.607438,0.657025,0.677686,0.690083,0.685950,...,0.669421,0.652893,0.661157,0.475207,0.132231,0.148760,0.152893,0.161157,0.157025,0
1,0.454545,0.471074,0.512397,0.557851,0.595041,0.640496,0.681818,0.702479,0.710744,0.702479,...,0.157025,0.136364,0.148760,0.152893,0.152893,0.152893,0.152893,0.152893,0.152893,0
2,0.318182,0.400826,0.491736,0.528926,0.586777,0.657025,0.681818,0.685950,0.702479,0.698347,...,0.132231,0.181818,0.136364,0.128099,0.148760,0.144628,0.140496,0.148760,0.152893,0
3,0.198347,0.194215,0.194215,0.194215,0.190083,0.190083,0.243802,0.404959,0.483471,0.516529,...,0.636364,0.657025,0.685950,0.727273,0.743802,0.764463,0.752066,0.752066,0.739669,0
4,0.500000,0.545455,0.582645,0.623967,0.648760,0.690083,0.694215,0.714876,0.723140,0.731405,...,0.161157,0.177686,0.173554,0.177686,0.177686,0.177686,0.177686,0.173554,0.173554,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.400826,0.495868,0.570248,0.632231,0.648760,0.640496,0.661157,0.636364,0.665289,0.698347,...,0.396694,0.264463,0.099174,0.181818,0.243802,0.247934,0.161157,0.157025,0.136364,39
396,0.367769,0.367769,0.351240,0.301653,0.247934,0.247934,0.367769,0.512397,0.574380,0.628099,...,0.334711,0.289256,0.285124,0.338843,0.404959,0.458678,0.487603,0.512397,0.549587,39
397,0.500000,0.533058,0.607438,0.628099,0.657025,0.632231,0.657025,0.669421,0.673554,0.702479,...,0.148760,0.152893,0.161157,0.161157,0.173554,0.157025,0.177686,0.148760,0.190083,39
398,0.214876,0.219008,0.219008,0.223140,0.210744,0.202479,0.276859,0.400826,0.487603,0.549587,...,0.392562,0.367769,0.409091,0.479339,0.524793,0.545455,0.574380,0.590909,0.603306,39
399,0.516529,0.462810,0.280992,0.252066,0.247934,0.367769,0.574380,0.615702,0.661157,0.615702,...,0.264463,0.293388,0.301653,0.293388,0.322314,0.322314,0.359504,0.355372,0.384298,39

In [11]:
pd_olivetti_faces.to_csv("cache/olivetti_faces.csv")
with open("real/olivetti_faces.json", "w") as f:
    json.dump({
        "path": "olivetti_faces.csv",
        "target": "target",
        "categorical": [],
        "ignore": [],
        "numerical": list(map(str, list(range(olivetti_faces.data.shape[1])))),
        "ordinal": {},
        "classification": True
    }, f)

Wine

In [15]:
wine = datasets.load_wine()
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [16]:
pd_wine = pd.DataFrame(
    data=np.c_[wine.data, wine.target],
    columns=wine.feature_names + ["target"]
)

In [17]:
pd_wine.target = pd_wine.target.astype(int)
pd_wine

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [18]:
pd_wine.to_csv("cache/wine.csv")
with open("real/wine.json", "w") as f:
    json.dump({
        "path": "wine.csv",
        "target": "target",
        "categorical": [],
        "ignore": [],
        "numerical": wine.feature_names,
        "ordinal": {},
        "classification": True
    }, f)

Boston

In [12]:
boston = datasets.load_boston()
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'c:\\code\\personal\\afsfc\\venv\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [13]:
pd_boston = pd.DataFrame(
    data=np.c_[boston.data, boston.target],
    columns=list(boston.feature_names) + ["target"]
)

In [14]:
pd_boston.to_csv("cache/boston.csv")
with open("real/boston.json", "w") as f:
    json.dump({
        "path": "boston.csv",
        "target": "target",
        "categorical": [],
        "ignore": [],
        "numerical": list(boston.feature_names),
        "ordinal": {},
        "classification": False
    }, f)

Synthetic